@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');

:root {
    --dark-black: #1d2021;
    --black: #282828;
    --bright-black: #928374;
    
    --white: #ebdbb2;
    --bright-white: #fbf1c7;
    
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --magenta: #b16286;
    --cyan: #689d6a;
    --orange: #d65d0e;
    --gray: #928374;
    
    --bright-red: #fb4934;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598;
    --bright-magenta: #d3869b;
    --bright-cyan: #8ec07c;
    --bright-orange: #fe8019;
    --bright-gray: #a89984;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Fira mono', monospace;
    max-width: 1100px;
    margin: 0 auto;
    background-color: var(--dark-black);
    color: var(--bright-black);
}

/* basic */
ul {
    list-style-type: '- ';
}

li {
    margin-bottom: 0.3rem;
}

a {
    color: var(--white);
}

.bright-black {
    color: var(--bright-black);
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.5rem;
    font-weight: 500;
}

code {
    background-color: var(--dark-black);
    font-size: 1rem;
    color: var(--bright-black)
}

.main-section + .main-section {
    border-top: 1px solid var(--dark-black);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.main-section {
    overflow-x: auto;
}

/* header */

header {
    padding: 1rem;
}

#logo {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--green);
    color: var(--black);
    text-decoration: none;
}

#logo:hover {
    background-color: var(--bright-green);
}

/* main */
main {
    display: flex;
    justify-content: space-between;
}

#main {
    background-color: var(--black);
    color: var(--white);
    flex-grow: 1;
    padding: 1rem;
}

#aside {
    flex-grow: 0.3;
    padding: 1rem;
}

/* footer */
footer {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}