@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap');

:root {
    --dark-black: #1d2021;
    --black: #282828;
    --bright-black: #928374;
    
    --white: #ebdbb2;
    --bright-white: #fbf1c7;
    
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --magenta: #b16286;
    --cyan: #689d6a;
    --orange: #d65d0e;
    --gray: #928374;
    
    --bright-red: #fb4934;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598;
    --bright-magenta: #d3869b;
    --bright-cyan: #8ec07c;
    --bright-orange: #fe8019;
    --bright-gray: #a89984;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Fira mono', monospace;
    max-width: 1100px;
    margin: 0 auto;
    background-color: var(--dark-black);
    color: var(--bright-black);
}

/* header */

header {
    padding: 1rem;
}

#logo {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--green);
    color: var(--black);
    text-decoration: none;
}

#logo:hover {
    background-color: var(--bright-green);
}

/* main */

/* footer */
footer {
    padding: 1rem;
}